.container {
    max-width: 700px;
    margin-top: 30px;
}

.card {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.btn-register {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn-register:hover {
    background-color: #0056b3;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.btn-group {
    text-align: center;
    display: block;
}

.button {
    text-align: center;
    display: block;
}